{{ define "title" }}The Blog{{ end }}

{{ define "main" }}
<h1 class="m-0">The Blog</h1>

<p>Collected writings, thoughts, musings. But tread carefully:</p>

<blockquote cite="https://datatracker.ietf.org/doc/html/rfc1149">
  <p>
    And don't all philosophical theories do the same thing, leading man by a way of thought that is strange and
    unnatural to him to the knowledge of what he has long known and known so certainly that without it he would not
    even be able to live?
  </p>
  <p>—Leo Tolstoy, <cite>Anna Karenina</cite></p>
</blockquote>

<h2>Posts</h2>

<ul>
  {{ range .Pages }}
  <li class="mt-2">
    <a href="{{ .RelPermalink }}">
      {{ partial "title.html" . }}
    </a> - {{ .Date.Format "Jan 2, 2006" }}
  </li>
  {{ end }}
</ul>
{{ end }}